# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Ignore NuGet packages
packages/

# Ignore VS Code directories
.vscode/

# Ignore Visual Studio directories
.vs/

# Ignore log files
*.log

# Ignore publish output
/publish/

# Ignore database files
*.mdf
*.ldf

# Ignore DotNet SDK files
.dotnet/

BookingHelper_UnitTestingProject/BookingHelperTests/Properties/
BookingHelper_UnitTestingProject/BookingHelperTests/UnitTestingProject_UnitTests.csproj
BookingHelper_UnitTestingProject/BookingHelperTests/packages.config
BookingHelper_UnitTestingProject/BookingHelper_UnitTestingProject.sln
BookingHelper_UnitTestingProject/BookingHelper_UnitTestingProject/App.config
BookingHelper_UnitTestingProject/BookingHelper_UnitTestingProject/BookingHelper_UnitTestingProject.csproj
BookingHelper_UnitTestingProject/BookingHelper_UnitTestingProject/Properties/


HouseKeeperHelper_UnitTestingProject/HouseKeeperHelper_UnitTestingProject.sln
HouseKeeperHelper_UnitTestingProject/HouseKeeperHelper_UnitTestingProject/App.config
HouseKeeperHelper_UnitTestingProject/HouseKeeperHelper_UnitTestingProject/HouseKeeperHelper_UnitTestingProject.csproj
HouseKeeperHelper_UnitTestingProject/HouseKeeperHelper_UnitTestingProject/Properties/AssemblyInfo.cs

